%h1.text-3xl.font-bold.mb-4.text-center ポイント管理
= back_button
= link_to_admin_top

%div{"class" => "container flex justify-center"}
  %div{"class" => "w-2/5 mx-auto"}
    = simple_form_for [:admin, @user, @point_activity], html: { class: 'space-y-6' } do |f|
      = render 'users/shared/error_messages', object: @point_activity

      .form-inputs.space-y-4
        = f.input :point_change, required: true, autofocus: true,
          input_html: { class: "w-full p-2 border border-gray-500 rounded focus:ring focus:ring-indigo-500" },
          wrapper_html: { class: 'block' }, label_html: { class: 'block mb-1' }

        = f.input :description, required: true, as: :text,
          input_html: { class: "w-full p-2 border border-gray-500 rounded focus:ring focus:ring-indigo-500 mb-4" },
          wrapper_html: { class: 'block' }, label_html: { class: 'block mb-1' }

        = f.label :expires_at
        = f.date_field :expires_at, required: false, min: Date.current,
          class: "m-0 w-full p-2 border border-blue-500 rounded focus:ring focus:ring-indigo-500"

      .form-actions.flex.justify-center
        = f.button :submit, 'ポイントを反映させる', class: submit_button_class
