.bg-gray-100.min-h-screen.py-4
  .container.mx-auto
    %h1.text-3xl.font-bold.text-center 日記一覧
    = link_to '日記の投稿はこちら', new_diary_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full'
    = link_to '商品一覧', products_path, class: 'bg-black hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-full ml-2'

    - @diaries.each do |diary|
      = link_to diary_path(diary) do
        .bg-white.rounded-lg.shadow-md.p-6.mb-8.mt-4
          %h2.text-xl.font-semibold= diary.title
          -# TODO: ユーザーページへのリンクを追加
          %span.mt-4.text-blue-500= diary.user.name
          .mt-2
            = safe_join(diary.content.split("\n"),tag(:br))
          .mt-2
          - if diary.image.attached?
            = image_tag diary.image.variant(:small), class: 'diary-image object-cover'
