%h1.text-3xl.font-bold.my-4.text-center プロフィール編集
= back_button
= link_to_user_top
%div{"class" => "container flex justify-center"}
  %div{"class" => "w-2/5 mx-auto"}
    = simple_form_for current_user, html: { class: 'space-y-6' } do |f|
      = render 'users/shared/error_messages', object: current_user

      .form-inputs.space-y-4
        = f.input :name, required: true, autofocus: true,
          input_html: { class: "w-full p-2 border border-gray-500 rounded focus:ring focus:ring-indigo-500", autocomplete: "name" },
          wrapper_html: { class: 'block' }, label_html: { class: 'block mb-1' }

        = f.input :nickname, required: true, autofocus: true,
          input_html: { class: "w-full p-2 border border-gray-500 rounded focus:ring focus:ring-indigo-500", autocomplete: "nickname" },
          wrapper_html: { class: 'block' }, label_html: { class: 'block mb-1' }

        = f.input :image, as: :file,
          input_html: { class: "w-full p-2 border border-gray-500 rounded focus:ring focus:ring-indigo-500" },
          wrapper_html: { class: 'block' }, label_html: { class: 'block mb-1' }

      .form-actions.flex.justify-center
        = f.button :submit, '変更', class: submit_button_class
