%h1.text-3xl.font-bold.my-4.text-center 購入履歴
= link_to_user_top

- if @purchases.any?
  .relative.overflow-x-auto.my-4
    %table.w-full.text-left
      %thead
        %tr.border-b.border-black
          %th.px-6.py-3{scope: "col"} 購入番号
          %th.px-6.py-3.text-lg{scope: "col"} 商品名
          %th.px-6.py-3.text-lg{scope: "col"} 購入日
          %th.px-6.py-3.text-lg{scope: "col"} 支払い方法
      - @purchases.each do |purchase|
        %tbody
          %tr.border-b.border-black
            %td.px-6.py-4= purchase.id
            %td.px-6.py-4
              = link_to purchase.products.pluck(:name).join(' / '), purchase_path(purchase),
                class: 'text-blue-600 dark:text-blue-500 hover:underline'
            %td.px-6.py-4= purchase.created_at.strftime('%Y年%m月%d日')
            %td.px-6.py-4 #{purchase.payment_method === 'cash_on_delivery'  ? '代金引換' : 'カード決済'}

- else
  %p.text-center 購入履歴はありません。
