!!! 5
%html
  %head
    %title SakuraMarket
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"

  %body
    - if notice
      .bg-green-100.border-green-500.text-green-700.px-4.py-3.rounded{role: "alert"}
        = notice
    - if alert
      .bg-red-100.border-red-500.text-red-700.px-4.py-3.rounded{role: "alert"}
        = alert
    %nav.flex.items-center.justify-between.flex-wrap.bg-blue-300.p-6.mb-4
      .flex.items-center.text-white.mr-6
        =link_to '管理画面', admin_products_path, class: 'text-2xl'
      .flex.items-center
        - if admin_signed_in?
          = link_to "業者アカウント追加", new_vendor_registration_path, class: "text-black mr-2"
          = link_to "顧客管理", admin_users_path, class: "text-black mr-2"
          = button_to "ログアウト", destroy_admin_session_path, method: :delete, data: { turbo_confirm: 'ログアウトしますか？' }, class: "text-black"
    = yield
