%div{"class" => "container flex justify-center"}
  %div{"class" => "w-2/5 mx-auto"}
    = simple_form_for [:admin, product], html: { class: 'space-y-6' } do |f|
      = render 'users/shared/error_messages', object: product

      .form-inputs.space-y-4
        = f.input :name, required: true, autofocus: true,
          input_html: { class: "w-full p-2 border border-gray-500 rounded focus:ring focus:ring-indigo-500" },
          wrapper_html: { class: 'block' }, label_html: { class: 'block mb-1' }

        = f.input :price, required: true,
          input_html: { class: "w-full p-2 border border-gray-500 rounded focus:ring focus:ring-indigo-500" },
          wrapper_html: { class: 'block' }, label_html: { class: 'block mb-1' }

        = f.input :description, required: true, as: :text,
          input_html: { class: "w-full p-2 border border-gray-500 rounded focus:ring focus:ring-indigo-500" },
          wrapper_html: { class: 'block' }, label_html: { class: 'block mb-1' }

        = f.input :image, as: :file,
          input_html: { class: "w-full p-2 border border-gray-500 rounded focus:ring focus:ring-indigo-500" },
          wrapper_html: { class: 'block' }, label_html: { class: 'block mb-1' }

        = f.input :is_public, required: true, as: :boolean,
          wrapper_html: { class: 'block' }, label_html: { class: 'block mb-1' }

        = f.input :sort_position, required: false,
          input_html: { class: "w-full p-2 border border-gray-500 rounded focus:ring focus:ring-indigo-500" },
          wrapper_html: { class: 'block' }, label_html: { class: 'block mb-1' }

      .form-actions.flex.justify-center
        = f.button :submit, button, class: "w-1/2 bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700"
