%h1.text-3xl.font-bold.mb-4.text-center パスワードをお忘れの方

%div{"class" => "container flex justify-center"}
  %div{"class" => "w-2/5 mx-auto"}
    = simple_form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'space-y-6' } do |f|
      = render 'users/shared/error_messages', object: resource

      .form-inputs.space-y-4
        = f.input :email, required: true, autofocus: true,
          input_html: { class: "w-full p-2 border border-gray-500 rounded focus:ring focus:ring-indigo-500", autocomplete: "email" },
          wrapper_html: { class: 'block' }, label_html: { class: 'block mb-1' }

      .form-actions.flex.justify-center
        = f.button :submit, "パスワードリセット", class: "w-1/2 bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700"

    = render "users/shared/links", class: "text-sm text-indigo-600 hover:text-indigo-800"
