%h1.text-3xl.font-bold.my-4.text-center 商品一覧
.flex.items-center.justify-between
  = link_to '日記一覧', root_path, class: 'bg-black hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-full ml-8'
  = form_tag apply_coupon_path, method: :post do
    .flex.mr-8
      = text_field_tag :code, nil, placeholder: 'クーポンコードを入力',
        class: 'px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 bg-gray-100'
      = submit_tag '適用', class: 'w-full px-4 py-2 bg-indigo-600 text-white font-semibold rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75'

.product-container.mx-8.grid.grid-cols-3.gap-4.mb-4.mt-4
  - @products.each do |product|
    .border-4.flex.justify-center
      .product-item.w-100.mx-auto
        = link_to product_path(product) do
          = render 'shared/product_image', product: product, size: '330x219', variant: :middle
          %p.product-name.mt-2.font-bold.text-center= product.name
