%h1.text-3xl.font-bold.my-4.text-center 商品詳細
= back_button

.container.flex.justify-center.mt-4
  .flex.justify-center.mt-4
    .mr-4
      = render 'shared/product_image', product: @product, size: '660x438', variant: :large

    .flex.flex-col.items-start.ms-4
      %p.text-2xl 商品名: #{@product.name}
      %p.text-gray-700.text-2xl.mt-2 価格: #{@product.price}円
      %p.text-gray-600.mt-2.text-2xl 商品説明:
      %br #{@product.description}
    %div.ml-4
      %p.text-gray-500.text-sm.mb-1 ※1度の注文につき最大10個まで
      = simple_form_for CartItem.new do |f|
        = hidden_field_tag :product_id, @product.id
        = f.input :quantity, collection: 1..10, prompt: "数量を選択してください", input_html: { class: "border-2 border-black p-1 rounded-lg mb-2 ml-2" }
        = f.input :vendor_id, collection: @product.vendor_stock_info(@product), label: "販売元", prompt: "販売元を選択してください", input_html: { class: "border-2 border-black p-1 rounded-lg mb-2 ml-2" }
        = f.submit 'カートに追加', class: 'bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700'
