%div{"class" => "container flex justify-center"}
  %div{"class" => "w-2/5 mx-auto"}
    = simple_form_for [:admin, coupon], html: { class: 'space-y-6' } do |f|
      = render 'users/shared/error_messages', object: coupon

      .form-inputs.space-y-4
        = f.input :code, required: true, autofocus: true, placeholder: '例: AbcD-1234-5678',
          input_html: { class: "w-full p-2 border border-gray-500 rounded focus:ring focus:ring-indigo-500" },
          wrapper_html: { class: 'block' }, label_html: { class: 'block mb-1' }
        %p.text-gray-500.text-sm
          クーポンコードは12桁の半角英数字で設定してください。
          %br ハイフンも忘れずにご記入ください。

        = f.input :point, required: true,
          input_html: { class: "w-full p-2 border border-gray-500 rounded focus:ring focus:ring-indigo-500 mb-4" },
          wrapper_html: { class: 'block' }, label_html: { class: 'block mb-1' }

        = f.label :expires_at
        = f.date_field :expires_at, required: false, min: Date.current,
          class: "m-0 w-full p-2 border border-blue-500 rounded focus:ring focus:ring-indigo-500"

      .form-actions.flex.justify-center
        = f.button :submit, button, class: submit_button_class
